body {
  font-family: "Permanent Marker", cursive;
}

h1 {
  text-align: center;
  z-index: 1;
}
/*** JÁTÉK BEÁLLÍTÁS ***/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff4d;
  z-index: 1;
}

.modal-content {
  background-color: #faf9fa;
  margin: 10% auto;
  padding: 6%;
  border: 1px solid #e5e7eb;
  border-radius: .75rem;
  width: 80%;
  height: 30%;
  max-width: 400px;
  display: flex;
  overflow-x: hidden;
}
.question {
  flex: 1 0 100%;
  max-width: 400px;
  padding: 0 10% 0 10%;
  transition: 1s;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}



/*** JÁTÉKTÁBLA  ***/
#app {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.info-section {
  margin-left: 20px; /* Táblától való eltolás */
  flex-grow: 1;
}

.infobox {
  text-align: center;
  position: relative;
  right: -160px
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 420px;
  margin: 10px auto;
  flex-grow: 1;
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint', sans-serif;
  font-size: 75px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/*a szélek eltüntetése: csak három táblára jó megoldás*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-top: none;
}

.cell:nth-child(6n+1) {
  border-left: none;
}

.cell:nth-child(6n+6) {
  border-right: none;
}

.cell.filled {
  cursor: not-allowed;
}

.cell:last-child,
.cell:nth-child(35),
.cell:nth-child(34),
.cell:nth-child(33),
.cell:nth-child(32),
.cell:nth-child(31){
  border-bottom: none;
}
 /*hover content következő lépést lépést*/

.cell:not(.filled):hover::after {
  content: attr(data-next-move);
  color:lightgrey;
}

/*győztes cellák*/
.winner-cell {
  color: darkred;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#reportMessage {
  text-align: center;
}



/* CSS */
.next-btn {
  align-self: center;
  background-color: #57baac;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #f1ebd5;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  padding: .75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.next-btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.next-btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}