* {
  font-family: "Permanent Marker", cursive;
}

h1 {
  text-align: center;
  z-index: 1;
}
/*** JÁTÉK BEÁLLÍTÁS ***/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff4d;
  z-index: 1;
  transition: opacity .15s linear;
}

.modal-content {
  background-color: #faf9fa;
  margin: 10% auto;
  padding: 6%;
  border: 1px solid #e5e7eb;
  /*border-radius: .75rem;*/
  border-radius: 15px 225px 255px;
  width: 80%;
  height: 30%;
  max-width: 400px;
  display: flex;
  overflow-x: hidden;
  /* Trükkös border beállítása */
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  /*box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;*/
}
.question {
  flex: 1 0 100%;
  max-width: 400px;
  padding: 0 10% 0 10%;
  transition: 1s;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}



/*** JÁTÉKTÁBLA  ***/
#app {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.info-section {
  margin-left: 20px; /* Táblától való eltolás */
  flex-grow: 1;
}

.infobox {
  text-align: center;
  position: relative;
  right: -160px
}

.board {
  display: grid;
  gap: 0;
  margin: 10px auto;
  flex-grow: 1;
}

/* Vonalkák megrajzolása animáció */

@keyframes draw {
  0% {
    border-width: 0;
  }
  100% {
    border-width: 1px;
    border-color: #ccc;
  }
}
.cell {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint', sans-serif;
  font-size: 75px;
  border: 1px solid transparent;
  overflow: hidden;
  animation: draw 0.5s forwards;
  cursor: pointer;
}



 /*hover content következő lépést lépést*/

.cell:not(.filled):hover::after {
  content: attr(data-next-move);
  color:lightgrey;
}

/*győztes cellák*/
.winner-cell {
  color: darkred;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#reportMessage {
  text-align: center;
}



/* CSS */
.next-btn, #restartBtn {
  align-self: center;
  background-color: #87ACE4;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #F3EADA;
  cursor: pointer;
  /*display: inline-block;*/
  font-size: 1rem;
  line-height: 23px;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.next-btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.next-btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

button[value="X"] {
  background-color: #57baac;
  color: #f1ebd5;
}

button[value="O"] {
  background-color: #f1ebd5;
  color: #57baac;
}

button[value="6"], button[value="3"] {
  background-color: #EA8E68;
  color: #FFF5EE;
}
button[value="4"] {
  background-color: #FFF5EE;
  color: #EA8E68;
}