body {
  font-family: "Permanent Marker", cursive;
}

h1 {
  text-align: center;
}
#app {
  display: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 420px;
  margin: 10px auto;
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint', sans-serif;
  font-size: 75px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/*a szélek eltüntetése: csak három táblára jó megoldás*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-top: none;
}

.cell:nth-child(6n+1) {
  border-left: none;
}

.cell:nth-child(6n+6) {
  border-right: none;
}

.cell.filled {
  cursor: not-allowed;
}

.cell:last-child,
.cell:nth-child(35),
.cell:nth-child(34),
.cell:nth-child(33),
.cell:nth-child(32),
.cell:nth-child(31){
  border-bottom: none;
}
 /*hover content következő lépést lépést*/

.cell:not(.filled):hover::after {
  content: attr(data-next-move);
  color:lightgrey;
}

/*győztes cellák*/
.winner-cell {
  color: darkred;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#reportMessage {
  text-align: center;
}

